.home-container {
  background-color: #d5f3ff;
  font-family: Sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.home-header {
  background-color: #0a518e;
  color: white;
  padding: 1.25rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  z-index: 10;
}

.home-header h1 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.home-logo {
  height: 6rem;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}

.home-subtitle {
  background-color: #a7cceb;
  color: white;
  text-align: center;
  padding: 0.75rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem 1rem;
}

.home-main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 2.5rem 1.5rem;
  text-align: center;
  z-index: 5;
}

.home-image {
  width: 30rem;
}

.home-description {
  max-width: 40rem;
  color: #003b6f;
  text-align: center;
}

.home-description h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home-description p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.home-description p:last-child {
  font-size: 1.125rem;
  font-weight: 700;
}

.home-button {
  background-color: #0a518e;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 0.75rem;
  margin-top: 1.5rem;
  transition: background-color 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}

/* Media query para dispositivos móveis */
@media (max-width: 600px) {
  .home-header h1 {
      font-size: 1.8rem;
  }

  .home-logo {
      height: 4rem;
      right: 1rem;
  }

  .home-subtitle {
      font-size: 1rem;
      padding: 0.5rem 0;
      margin: 0.5rem 1rem;
  }

  .home-main {
      flex-direction: column;
      gap: 1.5rem;
      padding: 1.5rem 1rem;
  }

  .home-image {
      width: 20rem;
  }

  .home-description {
      max-width: 90%;
  }

  .home-description h2 {
      font-size: 1rem;
  }

  .home-description p {
      font-size: 0.9rem;
  }

  .home-button {
      font-size: 0.9rem;
      padding: 0.5rem 1.5rem;
  }
}